/Backup
/build*
/3rd_party/curl/build*
Makefile
Makefile.*
*.vc.db
*.opendb
*.ncb
*.suo
*.vcproj
*.user
*.zip
UpgradeLog*.*
*/x64*
*/GeneratedFiles*
*/Win32*
[Dd]ebug*/
[Rr]elease*/
*.sln
*.vcxproj*
*.rc
*.pro.*
moc_*.*
*.o
ui_*.*
screen/screen
