[submodule "submodules/utils"]
	path = submodules/utils
	url = git@git.kartel.com.ru:multipass/valid/utils.git
[submodule "submodules/transport"]
	path = submodules/transport
	url = git@git.kartel.com.ru:multipass/valid/transport.git