/Backup
/build*
/3rd_party/curl/build*
Makefile.*
*.vc.db
*.opendb
*.ncb
*.suo
*.user
*.zip
UpgradeLog*.*
*/x64*
*/GeneratedFiles*
*/Win32*
[Dd]ebug*/
[Rr]elease*/
*.vcxproj*
*.pro.*
moc_*.*
*.o
ui_*.*
screen/screen
